@charset "UTF-8";
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
fieldset,img{border:0}
:focus{outline:0}
img{border:0 none; vertical-align:middle;}
address,caption,cite,code,dfn,strong,th,var,optgroup,i{font-weight:normal;font-style:normal}
body {font-size:14px; color:#393839; font-family:"微软雅黑";word-wrap:break-word; overflow-x:hidden;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
abbr,acronym{border:0;font-variant:normal}
input,button,textarea,select,optgroup,option{font-weight:inherit;font-style:inherit;font-size:inherit;font-family:inherit}
code,kbd,samp,tt{font-size:100%}
textarea{resize:none; overflow:auto;}
input,button,textarea,select{*font-size:100%}
input,label{vertical-align:middle;} 
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sup,sub{vertical-align:baseline;font-size:100%}
:link,:visited,ins{text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
iframe{display:block; border:0 none;}

a{text-decoration:none; color:#3d3d3d; bblr:expression(this.onFocus=this.blur())}
a:hover,.floor_t a:hover{text-decoration:none; color:#00a1e4;}

.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clear{ clear:both; height:0px;}

.fl{ float:left !important;}
.fr{ float:right !important;}
.tc{ text-align:center !important; text-indent:0px !important;}
.tr{ text-align:right !important;}
.tl{text-align:left !important;}
.block{display:block !important;}
.hidden{display:none !important;}
.red{color:#f00;}
.orange{color:#ff5538;}
.mTop30{margin-top:30px !important;}
.mTop0{margin-top:0 !important;}
.mLRight20{margin-left:20px !important; margin-right:20px !important;}
.vMid{vertical-align:middle !important;}
.vTop{vertical-align:top !important;}
.relative {position: relative !important;}
#xunlei_com_thunder_helper_plugin_d462f475-c18e-46be-bd10-327458d045bd{display:none;}

/*通用左右尺寸*/
.col_left{width:670px; float:left;}
.col_right{width:290px; float:right;}
/*通栏布局*/
.content {position: relative;background: #fff;border-radius: 5px;padding: 0 0 15px 0;padding: 25px;}
.content-no-padding {position: relative;background: #fff;border-radius: 5px;padding: 0 0 15px 0;}
/*布局*/
#content{width:1000px; margin:30px auto 0 auto;}
.pageWrap{padding-bottom:120px;}
.wrap,.wrap_t{width:1000px;margin:0 auto;position:relative;}
.area{margin-top:20px;}
.noBorder{border:0 none !important;}
.noContTip{padding:20px;}
.noContTip i{margin:0 5px 0 8px;}
.margin-top-20 {margin-top: 20px !important;}

/*页面内容少的时候Footer也显示在底部*/
html,body{height:100%;background:#ebf3f7;}
.container{min-height:100%; height:auto !important; height:100%; position:relative;}
.footer{position: absolute !important;bottom: 0; width: 100%;height: 60px; background:#00b2fc;  clear:both; padding:15px 0; color:#fff;}
.footer ul{text-align:center;margin-bottom:25px;}
.footer ul li{display:inline;margin-right:75px;}
.footer a{color:#fff;}
.footer p{text-align:center; font-size:12px;}

/*ui_icon*/
.ui_icon{display:inline-block; *display:inline; zoom:1; font-size:0; line-height:0; overflow:hidden; vertical-align:middle; background:url(../images/icon.png) no-repeat;}
.i_clock{width:17px; height:20px; background-position:0 0;}
.i_rank{width:18px; height:15px; background-position:0 -30px;}
.i_id{width:17px; height:19px; background-position:0 -55px;}
.i_set{width:18px; height:18px; background-position:0 -84px;}
.i_search{width:21px; height:23px; background-position:-63px 0; position:absolute; right:5px;top:4px;}
.i_graySearch{width:21px; height:23px; background-position:-510px -187px;}
.i_newNum{width:24px; height:20px; background-position:-63px -30px; }
.i_config{width:24px; height:24px; background-position:-63px -60px;}
.i_user{width:23px; height:24px; background-position:-63px -94px;}
.i_blueGroup{width:24px; height:20px; background-position:-28px 0;}
.i_blueEdit{width:24px; height:21px; background-position:-28px -30px;}
.i_blueEdit18{width:18px; height:18px; background-position:-607px -21px;}
.i_blueLog{width:19px; height:22px; background-position:-28px -61px;}
.i_blueAsk{width:23px; height:24px; background-position:-28px -94px;}
.i_certificate{width:24px; height:24px; background-position:-63px -128px; margin:-6px 10px 0 10px;}
.i_follow{width:21px; height:12px; background-position:0 -128px;}
.i_plus{width:13px; height:13px; background-position:-31px -128px;}
.i_redPlus{width:13px; height:13px; background-position:-379px -52px;}
.i_plus2{width:13px; height:13px; background-position:-28px -128px; padding-right:8px;}
.i_plus2{margin-top:-3px}
.i_orangePlus{width:16px; height:16px; background-position:-542px -39px;}
.i_whitePlus10{width:10px; height:10px; background-position:-542px -19px;}
.i_addfollow{width:17px; height:18px; background-position:0 -150px;padding-right:4px; margin-top:-4px;}
.i_privateLette{width:20px; height:16px; background-position:-31px -150px; padding-right:1px;}
.i_sendLetter{width:20px; height:16px; background-position:-542px -127px;}
.i_goleft1{width:16px; height:16px; background-position:-97px 0;}
.i_goleft2{width:16px; height:16px; background-position:-97px -26px;}
.i_goright1{width:16px; height:16px; background-position:-97px -52px;}
.i_goright2{width:16px; height:16px; background-position:-97px -78px;}
.i_addBtn{width:19px; height:19px; background-position:-63px -162px;}
.i_comment{width:18px; height:16px; background-position:0 -178px;margin-top:-2px;*margin-top:2px;}
.i_commentRed{width:18px; height:16px; background-position:-97px -104px;}
.i_commentWhite{width:16px; height:16px; background-position:-510px 0; margin-right:5px;}
.i_grayTopic20{width:20px; height:18px; background-position:-607px -75px;}
.i_whiteTopic20{width:20px; height:18px; background-position:-607px -103px;}
.i_grayArticle20{width:20px; height:18px; background-position:-607px -131px;}
.i_whiteArticle20{width:20px; height:18px; background-position:-607px -159px;}
.i_peakWhite{width:15px; height:15px; background-position:-510px -26px; margin-right:5px;}
.i_prev_blue_arrow,.i_next_blue_arrow,.i_prev_gray_arrow,.i_next_gray_arrow{width:7px; height:11px; background:url(../images/arrow_icon.png) no-repeat;}
.i_next_blue_arrow{background-position:0 -48px;}
.i_prev_gray_arrow{background-position:0 -32px;}
.i_next_gray_arrow{background-position:0 -80px;}
.i_collect{width:16px; height:16px;background-position:-97px -130px; margin-top:-2px;}
.i_recommend{width:14px; height:14px; background-position:-125px 0; margin-top:-2px;}
.i_peak{width:17px; height:17px;background-position:-125px -48px; margin-top:-4px; margin-right:3px;}
.i_plus_blue{width:16px; height:16px;background-position:-154px 0;}
.i_sendTopic{width:20px; height:18px; background-position:-154px -68px;}
.i_redTopic{width:20px; height:18px; background-position:-400px -199px;}
.i_del{width:10px; height:10px; background-position:-154px -26px;}
.i_del_white{width:10px; height:10px; background-position:-154px -46px;}
.i_circleDel{width:18px; height:18px; background-position:-700px -187px;}
.i_blueT{width:20px; height:17px; background-position:-154px -122px;}
.i_ding{width:20px; height:20px; background-position:-184px 0;}
.i_jing{width:20px; height:20px; background-position:-184px -30px;}
.i_suo{width:20px; height:20px; background-position:-184px -60px;}
.i_group{width:36px; height:20px; background-position:-22px -194px;}
.i_whiteGroup{width:24px; height:14px; background-position:-575px -30px;}
.i_blueArrowS{width:8px; height:5px;background-position:-125px -191px;}
.i_grayX{width:10px; height:10px; background-position:-125px -206px;}
.i_da{width:18px; height:18px; background:url(../images/txtIcon.png) no-repeat;}
.i_fl2{width:18px;height:18px;background-position:-212px -165px}
.i_dlist{width:8px;height:5px;background-position:-212px -191px}
.i_blueEditS{width:18px; height:18px; background-position:-154px -202px;}
.i_hd{background-position:-184px -122px; width:18px; height:18px;}
.i_tw{width:18px;height:18px;background-position:-184px -98px}
.i_sc{width:18px;height:18px;background-position:-184px -152px}
.i_fl{width:18px;height:18px;background-position:-184px -182px}
.i_zhuan2{width:18px;height:18px;background-position:-212px -202px}
.i_close{width:16px;height:16px;background-position:-125px -104px;}
.i_six{width:18px;height:15px;background-position:-125px -130px;margin:-2px 5px 0 0;}
.i_jgz{width:16px;height:15px;background-position:-125px -156px}
.i_pos{width:18px;height:6px;background-position:-125px -175px}
.i_pos_b{width:18px;height:6px;background-position:-400px -148px}
.i_great{width:23px; height:21px; background-position:-238px 0;}
.i_point{width:3px; height:16px; background-position:0 -204px;}
.i_sound{width:18px; height:17px; background-position:-184px -203px;}
.i_sound_gray{width:18px; height:17px; background-position:-97px -176px;}
.i_wtxq{width:24px;height:24px;background-position:-238px -26px}
.i_using{width:18px;height:18px;background-position:-238px -60px}
.i_orangeClose{width:16px; height:16px; background-position:-238px -139px;}
.i_down{width:18px;height:17px;background-position:-238px -87px}
.i_besta{width:27px;height:32px;background-position:-238px -160px}
.i_posblue{width:18px;height:6px;background-position:-32px -175px;}
.i_forward{width:16px; height:16px; background-position:-238px -205px;}
.i_redForward{width:16px; height:15px; background-position:-476px -173px;}
.i_forwardR{width:17px; height:14px; background-position:-637px -147px;}
.i_grayTip{width:19px; height:6px; background-position:-275px 0;}
.i_tiw{width:20px;height:24px;background-position:-154px -92px;}
.i_answer{width:16px;height:16px;background-position:-275px -21px}
.i_guif{width:16px;height:16px;background-position:-275px -45px}
.i_redClose{width:16px; height:16px; background-position:-275px -71px;}
.i_blueRight{width:16px; height:16px; background-position:-275px -97px;}
.i_yellowMark{width:16px; height:16px; background-position:-275px -123px;}
.i_grayEmail{width:18px; height:14px; background-position:-274px -206px;}
.i_orangeEmail{width:18px; height:14px; background-position:-304px 0;}
.i_name{width:18px;height:20px;background-position:-275px -146px}
.i_pas{width:18px;height:23px;background-position:-275px -174px}
.i_zhuan3{width:18px;height:18px;background-position:-304px -26px}
.i_ok{width:59px; height:58px; background-position:-304px -162px;}
.i_xuni{width:54px;height:52px;background-position:-304px -100px}
.a_email{display:block;	text-align:center; margin-top:3px; text-decoration:none !important; color:#bebebe !important;}
.a_email:hover i{background-position:-304px 0;}
.a_email:hover span{color:#ff7e68;}
.a_email span{margin-left:5px; vertical-align:middle;}
.i_blueDotL{width:16px; height:16px; background-position:-332px 0;}
.i_redNotepad{width:16px; height:19px; background-position:-332px -26px;}
.i_redComment{width:18px; height:16px; background-position:-97px -104px;}
.i_redCommentL{width:30px; height:28px; background-position:-434px -34px;}
.i_question{width:22px; height:21px; background-position:-332px -55px;}
.i_redPhoto{width:21px; height:17px; background-position:-358px 0;}
.i_medal{width:22px; height:28px; background-position:-575px -126px;}
.i_medalXSSL{width:39px; height:35px; background: url(../images/medalIcon.png) 0 0 no-repeat;}
.i_medalXYJB{width:39px; height:35px; background: url(../images/medalIcon.png) 0 -46px no-repeat;}
.i_medalYMDR{width:39px; height:35px; background: url(../images/medalIcon.png) 0 -91px no-repeat;}
.i_medalWLGS{width:39px; height:35px; background: url(../images/medalIcon.png) 0 -136px no-repeat;}
.i_medalDGQB{width:39px; height:35px; background: url(../images/medalIcon.png) 0 -184px no-repeat;}
.i_medalYTYL{width:39px; height:35px; background: url(../images/medalIcon.png) 0 -229px no-repeat;}
.i_medalMLCX{width:39px; height:35px; background: url(../images/medalIcon.png) 0 -274px no-repeat;}
.i_medalXYMQ{width:39px; height:35px; background: url(../images/medalIcon.png) 0 -319px no-repeat;}
.i_doc{width:16px;height:16px;background-position:-358px -52px}
.i_ppt{width:16px;height:16px;background-position:-358px -75px}
.i_pdf{width:22px;height:25px;background-position:-368px -162px}
.i_invite{width:14px;height:16px;background-position:-358px -27px}
.i_pdf16{width:16px; height:16px; background-position:-575px -165px;}
.i_excel{width:16px; height:16px; background-position:-575px -191px;}
.i_word{width:16px; height:16px; background-position:-700px -27px;}
.i_wordW{width:16px; height:16px; background-position:-700px -27px;}
.i_pptP{width:16px; height:16px; background-position:-700px -53px;}
.i_ExcelX{width:16px; height:16px; background-position:-700px -79px;}
.i_pdf16{width:16px; height:16px; background-position:-700px -105px;}
.i_txtT{width:16px; height:16px; background-position:-700px -131px;}
.i_dload{width:23px;height:22px;background-position:-368px -100px}
.i_dload16{width:16px;height:15px;background-position:-665px -77px}
.i_study{width:22px;height:22px;background-position:-368px -133px}
.i_expr{width:20px;height:20px;background-position:-368px -196px}
.i_whiteClose{width:24px; height:24px; background-position:-400px 0;}
.i_soundOrange{width:18px; height:17px; background-position:-400px -34px;}
.i_openMail{width:15px; height:16px; background-position:-400px -94px;}
.i_redPen{width:19px; height:18px; background-position:-400px -120px;}
.i_grayPen{width:19px; height:18px; background-position:-510px -159px;}
.i_redHook{width:12px; height:9px; background-position:-400px -180px;}
.i_blueNote{width:18px; height:24px; background-position:-434px 0;}
.i_code{width:16px; height:16px; background-position:-434px -72px;}
.i_correctCircle{width:16px; height:16px; background-position:-434px -98px;}
.i_quiteCircle{width:16px; height:16px; background-position:-434px -126px;}
.i_apply{width:34px; height:34px; background:url(../images/i_apply.png) no-repeat;}
.i_edit{width:16px; height:16px; background-position:-434px -153px;}
.i_ask{width:20px; height:20px; background: url(../images/dynamicIcon.png) -20px -140px;}
.i_question1{width:24px; height:24px; background-position:-476px 0;}
.i_answer1{width:24px; height:24px; background-position:-476px -34px;}
.i_video{width:26px; height:26px; background-position:-474px -68px;}
.i_up{width:22px; height:22px; background-position:-510px -95px;}
.i_up.active{width:22px; height:22px; background-position:-510px -127px;}
.i_delete{width:14px; height:15px; background-position:-476px -135px;}
.i_blueArrow{width:16px; height:6px; background-position:-476px -158px;}
.i_right{width:12px; height:9px; background-position:-542px 0;}
.i_greenRight{width:20px; height:20px; background-position:-700px -157px;}
.i_blueRight{width:16px; height:16px; background-position:-730px 0;}
.i_phone{width:14px; height:24px; background-position:-542px -65px;}
.i_whiteEmail{width:24px; height:18px; background-position:-542px -99px;}
.i_pencil{width:16px; height:16px; background-position:-542px -153px;}
.i_redEdit{width:17px; height:15px; background-position:-542px -179px;}
.i_whiteNote{width:20px; height:20px;background-position:-575px 0;}
.i_groupS{width:18px; height:10px;background-position:-575px -106px;}
.i_label{width:20px; height:20px;background-position:-575px -81px;}
.i_grayDot15{width:15px; height:15px; background:url(../images/bgIcon.png) 0 0 no-repeat;}
.i_grayDot9{width:9px; height:9px; background:url(../images/bgIcon.png) 0 -50px no-repeat;}
.i_complete{width:77px; height:61px; background:url(../images/stamp.png) 0 -60px no-repeat;}
.i_redDetail{width:9px; height:12px; background-position:-607px 0;}
.i_blueFavorite18{width:18px; height:18px; background-position:-607px -48px;}
.i_location{width:11px; height:16px; background-position:-607px -188px;}
.i_topic16{width:16px; height:15px; background-position:-637px 0;}
.i_article13{width:13px; height:16px; background-position:-637px -25px;}
.i_label16{width:16px; height:13px; background-position:-637px -51px;}
.i_group18{width:18px; height:15px; background-position:-637px -74px;}
.i_wenku13{width:13px; height:16px; background-position:-637px -99px;}
.i_faqi14{width:14px; height:12px; background-position:-637px -125px;}
.i_upload17{width:17px; height:16px; background-position:-637px -195px; margin-right:5px;}
.i_upload24{width:24px; height:23px; background-position:-665px -44px;}
.i_circlePrev{width:32px; height:32px; background:url(../images/prevNext.png) 0 0 no-repeat;}
.i_circlePrev:hover{width:32px; height:32px; background:url(../images/prevNext.png) 0 -32px no-repeat;}
.i_circleNext{width:32px; height:32px; background:url(../images/prevNext.png) 0 -64px no-repeat;}
.i_circleNext:hover{width:32px; height:32px; background:url(../images/prevNext.png) 0 -96px no-repeat;}
.i_starGray13{width:13px; height:12px; background-position:-665px 0;}
.i_staryellow13{width:13px; height:12px; background-position:-665px -22px;}
.i_arrowUp{width:20px; height:11px; background:url(../images/arrow.png) 0 -200px no-repeat;}
.i_arrowDown{width:20px; height:11px; background:url(../images/arrow.png) 0 -250px no-repeat;}
.i_zoomPlus{width:19px; height:20px; background-position:-665px -162px;}
.i_zoomMinus{width:19px; height:20px; background-position:-665px -192px;}
.i_arrowPrev6{width:6px; height:13px; background:url(../images/arrow.png) 0 -300px no-repeat;}
.i_arrowNext6{width:6px; height:13px; background:url(../images/arrow.png) 0 -400px no-repeat;}
.i_fullScreen{width:17px; height:17px; background-position:-700px 0;}
.i_mobileApp{width:76px; height:40px; background:url(../images/iMobile.png) 0 0 no-repeat;}
/*icon3.1*/
.i_graySearch21{width:21px; height:23px; background:url(../images/icon3.1.png) 0 0 no-repeat;}
.i_whiteEmail24{width:24px; height:17px; background:url(../images/icon3.1.png) 0 -33px no-repeat;}
.i_whiteEdit13{width:13px; height:12px; background:url(../images/icon3.1.png) -30px 0 no-repeat;}
.i_whiteEdit13{width:13px; height:12px; background:url(../images/icon3.1.png) -30px 0 no-repeat;}
.i_yellowIdentify22{width:22px; height:21px; background:url(../images/icon3.1.png) -30px -22px no-repeat;}
.i_orangeReferesh18{width:18px; height:18px; background:url(../images/icon3.1.png) -30px -53px no-repeat;}

/*btn*/
.btn_auto{display:inline-block;padding-left:15px;background:url(../images/btn.png) no-repeat;vertical-align:middle;zoom:1;*display:inline; font-size:14px;}
.btn_auto:hover{text-decoration:none}
.btn_auto span{display:inline-block;padding-right:15px;background:url(../images/btn.png) no-repeat;vertical-align:top !important;zoom:1;*display:inline}
.btn_auto span em{font-style:normal;}

.white_btn{height:24px;background-position:left -29px;color:#333;line-height:24px; color:#1dbed3;}
.white_btn span{background-position:right -29px; background-color:#61d2e0; float:none !important;}
.white_btn b{font-size:24px; line-height:20px; display:inline; font-weight:normal; *position:relative; *top:-4px;}

.disable_btn{height:30px;background-position:left -58px;color:#333;line-height:30px; color:#b9b9b9;}
.disable_btn span{background-position:right -58px; background-color:#fff;}
.disable_btn span .i_grayX{margin-right:5px;}
.disable_btn:hover{text-decoration:none;color:#fff; background-position:left -163px;}
.disable_btn:hover span{background-position:right -163px;}
.disable_btn:hover span .i_grayX{background-position:-154px -46px;}


.next_btn{height:30px;background-position:left -93px;color:#333;line-height:30px; color:#0aafc4;}
.next_btn span{background-position:right -93px; background-color:#fff;}
.next_btn:hover{background-position:left -128px; color:#fff;}
.next_btn:hover span{background-position:right -128px;}
.next_btn span i,.prevDisale_btn span i{margin-left:2px; margin-top:-1px;}
.next_btn:hover span i,.prevDisale_btn:hover span i{background-position:0 -64px;}

.prev_btn, .btn_blueWhiteM{height:30px;background-position:left -93px;color:#333;line-height:30px; color:#0aafc4;}
.prev_btn span, .btn_blueWhiteM span{background-position:right -93px; background-color:#fff;}
.prev_btn:hover, .btn_blueWhiteM:hover{background-position:left -128px; color:#fff;}
.prev_btn:hover span, .btn_blueWhiteM:hover span{background-position:right -128px;}
.prev_btn span i,.disable_btn span i{margin-right:2px; margin-top:-1px;}
.prev_btn:hover span i,.disable_btn:hover span i{background-position:0 -16px;}
.btn_blueWhiteM i{position:relative; top:-1px;}
.btn_blueWhiteM:hover .i_plus,.btn_blueW24:hover .i_plus2{background-position:-122px -156px;}
.btn_blueWhiteM:hover .i_del{background-position:-154px -46px;}

.btn_blueW24{height:24px;line-height:24px;background-position:left -296px;color:#0aafc4;padding-left:10px}
.btn_blueW24 span{background-position:right -296px;background-color:#fff;line-height:24px;padding-right:10px}
.btn_blueW24:hover{background-position:left 0;color:#fff}
.btn_blueW24:hover span{background-position:right 0}
.btn_blueW24:hover span .i_plus{background-position:-125px -156px;}

.btn_grayW24{height:24px;line-height:24px;background-position:left -354px;color:#fff;padding-left:10px}
.btn_grayW24 span{background-position:right -354px;background-color:#fff;line-height:24px;padding-right:10px}
.btn_grayW24:hover{color:#fff;}

.btn_lightGray{height:30px;line-height:30px;color:#ff7e68;background-position:left -730px;}
.btn_lightGray span{background-position:right -730px; background-color:#f8f9fd;}

.prevDisale_btn{height:30px;background-position:left -58px;line-height:30px; color:#b9b9b9;}
.prevDisale_btn span{background-position:right -58px; background-color:#fff;}
.prevDisale_btn:hover{text-decoration:none;color:#fff; background-position:left -163px;}
.prevDisale_btn:hover span{background-position:right -163px;}

.blueSubmit_BTN,.graySubmit_BTN,.redSubmit_BTN{height:30px;background-position:left -128px;color:#333;line-height:30px; color:#fff; padding-left:30px;}
.blueSubmit_BTN span,.graySubmit_BTN span,.redSubmit_BTN span{background-position:right -128px; background-color:#fff;padding-right:30px;color:#fff}
.blueSubmit_BTN:hover,.graySubmit_BTN:hover,.redSubmit_BTN:hover{color:#fff;}
.graySubmit_BTN{background-position:left -163px}
.blueSubmit_BTN:hover{background-position:left -567px;}
.blueSubmit_BTN:hover span{background-position:right -567px;}

.graySubmit_BTN span{background-position:right -163px}
.redSubmit_BTN{background-position:left -232px}
.redSubmit_BTN span{background-position:right -232px}
.redSubmit_BTN:hover{background-position:left -532px}
.redSubmit_BTN:hover span{background-position:right -532px}

.orange_BTN{height:24px;background-position:left -325px;color:#ff7e68;line-height:24px;}
.orange_BTN span{background-position:right -325px; background-color:#fff;}
.orange_BTN:hover{text-decoration:none;color:#fff; background-position:left -267px;}
.orange_BTN:hover span{background-position:right -267px;}

.redBtnwhite_24{height:24px;line-height:24px;color:#ff7e68;background-position:left -646px;padding-left:10px;margin-right:4px}
.redBtnwhite_24 span{background-position:right -646px;background-color:#fff;padding:0 10px 0 0;vertical-align:top}
.redBtnwhite_24 .i_six{width:18px; height:14px; background-position:-304px 0;}

.redBtnwhite_24:hover{color:#ff7e68}
.redBtnwhite_24:hover{background-position:left -267px;color:#fff}
.redBtnwhite_24:hover span{background-position:right -267px;}
.redBtnwhite_24:hover .i_redPlus{background-position:-125px -156px;}
.redBtnwhite_24:hover .i_redHook{background-position:-379px -73px;}
.redBtnwhite_24:hover .i_six{width:18px;height:14px;background-position:-125px -130px;margin:-2px 5px 0 0;}

.redbtn_24{height:24px;line-height:24px;color:#fff;background-position:left -267px;padding-left:10px;margin-right:4px}
.redbtn_24 span{background-position:right -267px;background-color:#fff;padding:0 10px 0 0;vertical-align:top}
.redbtn_24:hover{color:#fff}

.blueTitle{background:url(../images/blueTitle.png) left 0; height:41px; display:inline-block; *display:inline; zoom:1; padding-left:15px; color:#fff; vertical-align:middle;}
.blueTitle span{background:url(../images/blueTitle.png) right 0  transparent; display:inline-block; *display:inline; zoom:1;  padding-right:20px; height:41px; vertical-align:top !important;}
.blueTitle:hover{color:#fff;}
.redTitle_L{background:url(../images/blueTitle.png) left -82px; height:37px; display:inline-block; *display:inline; zoom:1; padding-left:10px; color:#fff; vertical-align:middle;}
.redTitle_L span{background:url(../images/blueTitle.png) right -82px  transparent; display:inline-block; *display:inline; zoom:1;  padding-right:10px; height:37px; vertical-align:top !important;}



.labelBtn{background:url(../images/askLabel.png) left 0;height:25px; line-height:25px; padding-left:20px; font-size:12px; color:#878787; overflow:hidden;}
.labelBtn:hover{background:url(../images/askLabel.png) left -35px;}
.labelBtn:hover span{background:url(../images/askLabel.png) right -35px; color:#0aafc4;}
.labelBtn span{background:url(../images/askLabel.png) right 0 #fff; padding-right:10px;}

.labelBtn.active{background:url(../images/askLabel.png) left -35px;}
.labelBtn.active span{background:url(../images/askLabel.png) right -35px; color:#0aafc4;}

.plusLabel,.minusLabel{font-size:14px; font-weight:normal; color:#ff7e68; margin-left:5px;}
.plusLabel:hover{text-decoration:none;color:#ff7e68;}

.minusLabel{color:#878787;}
.minusLabel:hover{color:#878787; text-decoration:none;}

.moreLabel{border:1px solid #1dbed3; height:23px; line-height:23px; background:#61d2e0; display:inline-block; *display:inline; zoom:1; color:#fff; font-size:12px; padding:0 20px;  border-radius:3px;}
.moreLabel:hover,.blue30_btn:hover,.redAdd_btn:hover{color:#fff; text-decoration:none;}

.blue30_btn{border:1px solid #1dbed3; height:28px; line-height:28px; background:#61d2e0; display:inline-block; *display:inline; zoom:1; color:#fff; font-size:16px; padding:0 13px;  border-radius:3px;}

.redAdd_btn{border:1px solid #ff7e68; height:23px; line-height:23px; background:#ffb2a4; display:inline-block; *display:inline; zoom:1; color:#fff; font-size:12px; padding:0 10px;  border-radius:3px;}

.btn_blue25 {display:inline-block; *display:inline; zoom:1; vertical-align:middle; padding:0 20px; height:25px; line-height:25px; border:1px solid #1dbed3; background-color:#61d2e0; color:#fff; border-radius:3px;}
.btn_blue25:hover{text-decoration:none;color:#fff;}
.btn_blue25.not{width:65px; *width:66px; height:20px; line-height:20px; text-align:center; padding:0 !important;}
.btn_blue25.had{width:65px; *width:66px; height:20px; line-height:20px; text-align:center; padding:0 !important; color:#0aafc4; border:1px solid #1dbed3; background-color:#fff;}
.btn_blue25.had .s2{display:none; color:#fff;}
.btn_blue25.had:hover{border:1px solid #bebebe; background-color:#bebebe;}
.btn_blue25.had:hover .s1{display:none;}
.btn_blue25.had:hover .s2{display:block;}

.btn_whiteBlue25{display:inline-block; *display:inline; zoom:1; vertical-align:middle; padding:0 10px; height:25px; line-height:25px; border:1px solid #1dbed3; background-color:#fff; color:#1dbed3; border-radius:3px;}
.btn_whiteBlue25:hover{background-color:#1dbed3; color:#fff !important;}
.btn_whiteBlue25.gray{background-color:#bebebe; border:1px solid #bebebe; color:#fff;}
.btn_whiteBlue25.gray:hover{background-color:#bebebe; border:1px solid #bebebe; color:#fff;}

.btn_blue30 {display:inline-block; *display:inline; zoom:1; vertical-align:middle; padding:0 15px; height:30px; line-height:30px; border:1px solid #1dbed3; background-color:#61d2e0; color:#fff !important; border-radius:3px;}
.btn_blue30:hover{text-decoration:none;color:#fff;}
.btn_deepBlue30 {display:inline-block; *display:inline; zoom:1; vertical-align:middle; padding:0 15px; height:30px; line-height:30px; background-color:#1dbed3; color:#fff !important; border-radius:3px;}
.btn_deepBlue30:hover{text-decoration:none;color:#fff;}

.btn_gray30 {display:inline-block; *display:inline; zoom:1; vertical-align:middle; padding:0 15px; height:30px; line-height:30px; border:1px solid #bebebe; background-color:#bebebe; color:#fff !important; border-radius:3px;}
.btn_gray30:hover{text-decoration:none;color:#fff;}
.btn_gray25 {display:inline-block; *display:inline; zoom:1; vertical-align:middle; padding:0 15px; height:25px; line-height:25px; background-color:#d5d6d7; color:#fff !important; border-radius:3px;}
.btn_gray25:hover{text-decoration:none;color:#fff;}

.btn_color{display:inline-block; *display:inline; zoom:1; vertical-align:middle; padding:0 15px; color:#fff !important; border-radius:3px;}
.btn_green30{height:30px; line-height:30px; background-color:#42c234;}





/*头部*/
.topBar{padding:9px 0; background:#00b2fc; color:#fff; position:relative; width:100%; z-index:20;}
.topBar .topL{float:left;}
.topBar .topL .logo{float:left; margin-right:35px;}
.topBar .topL .logo img{display:block; vertical-align:inherit;}
.topBar .topL nav{float:left;}
.topBar .topL nav li{float:left; position:relative; margin-top:3px;}
.topBar .topL nav li a, .topBar .topL nav li span{display:block; width:65px; text-align:center; height:36px; line-height:36px; color:#fff;}
.topBar .topL nav li.current a, .topBar .topL nav li a:hover{background-color:#007acb;}
.topBar .topR{float:right; margin-top:5px;}
.topBar .topR .tMsg{display:inline-block; *display:inline; zoom:1; margin-right:10px; position:relative;}
.topBar .topR .tMsg .i_car{display:inline-block;position:relative; *display:inline; zoom:1; font-size:0; line-height:0; overflow:hidden; vertical-align:middle;width:24px;height: 24px; background:url(../images/cc.png) no-repeat;}
.topBar .topR .tMsg .msgNum{display:block; width:24px; text-align:center; height:24px; line-height:24px; color:#fff; font-size:12px; position:absolute; top:-12px; right:-12px; background-color:red; z-index:10;}
.topBar .topR .tMsgBox{width:353px; position:absolute; top:32px; right:0; border:1px solid #d9d9d9; padding-top:4px; *padding-top:4px; background-color:#fff;display:none;}
.topBar .topR .tMsgList{padding-top:10px;}
.topBar .topR .tMsgList li{padding-left:15px; line-height:33px;}
.topBar .topR .tMsgList li.even{background-color:#f8f9fd;}
.topBar .topR .tMsgList li a{color:#0aafc4;}
.topBar .topR .tMsgList li a:hover{color:#ff5538;}
.topBar .topR .tMsgFt{height:33px; line-height:33px; text-align:right; padding-right:15px; background-color:#f8f9fd;}
.topBar .topR .tMsgFt a{color:#4b4b4b;}
.topBar .topR .tInfo, .topBar .topR .tLogin{display:inline-block; *display:inline; zoom:1; position:relative;}
.topBar .topR .tLogin a{color:#d0f2f6; position:relative; top:2px; *margin-left:3px;}
.topBar .topR .tLogin a:hover{color:#fff;}
/*登陆注册*/
.loginHeader {width: 1000px;padding: 25px 0;margin: 0 auto 25px;}
.loginBanner {float: left;width: 480px;}
.panel {float: right;margin: 0 0 0 0px;background: #f8f8f8;border: 1px solid #d5d5d5;position: relative;width: 320px;padding: 25px 20px 30px;font-size: 14px;}
.panel-hd {margin: 0 0 10px;line-height: 1.5;}
.panel-hd .title {float: left;font-size: 24px;margin: 0;}
.panel-bd .form-helper .g-link {float: right;}
.panel-ft {margin-top: 20px;line-height: 27px;}
.panel-ft .g-link {float: right;}
.panel-bd .form-item {position: relative;margin: 0 0 10px;}
.panel-bd .form-item .inputbox {padding: 10px 18px;width: 280px;font-size: 14px;line-height: 1.5;}
.panel-bd .form-item .input-captcha {width: 150px;}
.panel-bd .form-item .captcha-img {float: right;margin: 1px 0 0 0;height: 40px;cursor: pointer;}
.panel-bd .form-text {text-align: center;}
.panel-bd .form-helper{margin:15px;}
.panel-bd .form-text .g-link {float: none;color: #999;text-decoration: underline;}
.g-btn {box-sizing: border-box;display: block;border-radius: 2px;border: none;text-align: center;}
.g-btn-submit {background-color: #3199e8;color: #fff;cursor: pointer;}
.g-btn-l {font-size: 18px;width: 100%;height: 42px;}
.g-error-tip {font-size: 12px;position: absolute;top: -42px;padding: 4px 7px;background-color: #df4d3f;border-radius: 2px;color: #fff;}
.g-error-tip:after {content: "";position: absolute;bottom: -16px;left: 50%;margin-left: -4px;width: 0;height: 0;border-style: solid;border-width: 8px;border-color: #df4d3f transparent transparent;}
.g-oauth {display: inline-block;}
.g-link {color: #3199e8;}



/*个人中心*/
.topNavBar {height: 42px;line-height: 42px;padding-left: 25px;margin: 30px 0;color: #9fa3af;background: #fff;border-radius: 5px;}
.left250 {float: left;width: 250px;background: #fff;border-radius: 5px;padding: 0 0 15px 0;}
.right720 {float: right;width: 720px;}
.myTags {padding-left: 30px;}
.myTags h2 {font-size: 16px;}
.myTags section {padding-left: 40px;margin-top: 20px;}
.mTop30 {margin-top: 30px!important;}
.radius {background: #fff;border-radius: 5px;padding: 15px 0;}
.blueLineS {border-bottom: 2px solid #ebeef5;line-height: 30px;font-size: 18px;position: relative;color: #393839;}
.blueLineS .lineS_current {border-bottom: 2px solid #1dbed3;bottom: -2px;line-height: 26px;position: relative;padding: 0 10px 4px 10px;display: inline-block;zoom: 1;}
.snTitle {font-size: 24px;padding-left: 20px;padding: 15px 0 0 20px;}
.snList {padding-left: 45px;}
.snList li {margin-top: 15px;}
.snList li a {display: block;width: 170px;padding: 0 0 0 10px;height: 34px;line-height: 34px;}
.snList li.current a, .snList li a:hover {background-color: #ff7e68;color: #fff;border-radius: 2px;}


table {width: 100%;background-color: #ebeef5;border-spacing: 1px;border-collapse: inherit;margin-top: 15px;}
table td {background-color: #fff;line-height: 30px;padding-left: 10px;text-align: center;}
table th {width: 70px;letter-spacing: 2px;background-color: #f8f9fd;text-align: center;}

.setForm {margin-right: 60px;}
.setForm section {margin-top: 20px;}
.setForm section h2 {font-size: 16px;padding-left: 30px;margin-bottom: 15px;}
.setForm li {margin-bottom: 15px;}
.setForm .label {display: inline-block;zoom: 1;padding: 0 20px 0 0;width: 130px;text-align: right;line-height: 35px;}
.setForm .ipt {width: 223px;padding: 7px 10px 6px;height: 20px;line-height: 20px;border: 1px solid #d9d9d9;border-radius: 2px;}
.setForm .about textarea {width: 568px;height: 80px;padding: 10px;border: 1px solid #d9d9d9;border-radius: 2px;}
.setForm .about ul {margin: 0 0 0 70px;}
/*用户建议反馈*/
.onlineSurvey{color:#3d3d3d;}
.onlineTop{border-bottom:2px solid #c2d25c;margin-top:30px; background:url(../images/onlineSurvey.jpg) no-repeat right bottom; height:170px;padding:0 360px 0 0;}
.onlineTop h2{font-size:18px; line-height:30px;margin-bottom:30px;}
.onlineTop h2 b{display:inline-block; *display:inline; zoom:1; vertical-align:middle; margin-right:20px; font-weight:normal;}
.onlineTop p{color:#8d91a0; line-height:24px;}

.onlineList{}
.onlineList li{padding:20px 0 10px 60px; border-bottom:1px dashed #bebebe;}
.onlineList li h2{font-size:14px; line-height:30px;}
.onlineList li p{margin:5px 0 10px 0;}
.onlineList li p label{margin-left:16px;}
.onlineList li p label input{margin-right:10px;}
.onlineList li p textarea{width:560px; height:125px; border:1px solid #ebeef5; resize:none; overflow:hidden; margin-left:16px; padding:10px}
.onlineList li p label .text{height:33px; vertical-align:middle; width:240px; border:1px solid #ebeef5; padding:0 10px; margin-left:10px;}

/*确认订单*/
.cart-table .symbol-rmb:before {margin-right: 0.2em;}
.symbol-rmb:before {content: "¥";margin-right: 1px;font-family: arial,sans-serif;font-size: inherit;line-height: inherit;}
.group:after {content: "";display: table;clear: both;}
.cart-group:after {content: "";display: table;clear: both;}
.cgroup-item:after {content: "";display: table;clear: both;}
.checkout-header {position: relative;padding-bottom: 55px;}
.cart-note {position: relative;float: left;}
.cart-flow {position: absolute;right: 10px;top: 20px;width: 188px;height: 11px;background: url("../images/flow.png");}
.cflow-nav {position: absolute;top: -20px;font-size: 13px;color: #666;}
.cflow-nav.first {left: -10px;}
.cflow-nav.second {left: 68px;}
.cflow-nav.last {right: -10px;color: #999;}
.cart-table {padding: 0 0 45px 0;border-bottom: 1px solid #d9d9d9;}
.ctable-header, .ctable-footer {background-color: #f5f5f5;background-image: linear-gradient(to bottom, #fafafa, #f1f1f1);border: 1px solid #d0d0d0;}
.ctable-header {padding: 0 17px;border-radius: 4px 4px 0 0;}
.ctable-title, .ctable-categ {font: bold 14px/2.6em "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif;}
.ctable-title {float: left;margin: 0;width: 57.9%;}
.ctable-categ {float: left;width: 13.2%;color: #555;text-align: center;}
.cart-group {position: relative;border: 1px solid #d0d0d0;border-width: 0 1px 1px;}
.cgroup-list {-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;padding: 0 17px;font-size: 14px;}
.cgroup-item {border-bottom: 1px dotted #d0d0d0;line-height: 58px;}
.cgroup-item:last-child {border-bottom: none;}
.cdish-name, .cdish-price, .cdish-modify, .cdish-total {-moz-box-sizing: border-box;box-sizing: border-box;float: left;padding: 0 7px;}
.cdish-price {color: #555;}
.cdish-price, .cdish-modify, .cdish-total {width: 13.2%;text-align: center;}
.cdish-name {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: #333;width: 57.9%;}
.cdish-total {font-weight: bold;color: #333;}
.cdish-action {background: #f5f5f5;color: #999;font-family: "eleme",monospace;font-size: 12px;line-height: 18px;visibility: hidden;}
.cdish-action, input.cdish-qty {-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;width: 20px;height: 20px;border: 1px solid #ddd;vertical-align: middle;text-align: center;}
input.cdish-qty {position: relative;z-index: 1;margin: 0 -1px;padding: 3px 0;border-radius: 0;font-size: 12px;color: #666;}
.cart-summary {display: inline-block;font: bold 14px/1.3em "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif;color: #555;}
.cart-cost {font-size: 25px;color: #eb6100;}
.ctable-footer {padding: 16px;border-width: 0px 1px 1px;border-radius: 0 0 4px 4px;box-shadow: 0 2px 2px rgba(0,0,0,0.05);}
.cart-module {-moz-box-sizing: border-box;box-sizing: border-box;display: table;width: 100%;height: 60px;padding: 10px 16px;border-bottom: 1px solid #d9d9d9;font-size: 14px;}
.cart-module.caddress-module, .cart-module.cinvoice-module {cursor: pointer;}
.cmodule-title, .cmodule-content {display: table-cell;vertical-align: middle;}
.cmodule-title {margin: 0;width: 100px;font-size: inherit;}
.cmodule-title, .cmodule-content {display: table-cell;vertical-align: middle;}
.cart-checkout-submittingbar {overflow: hidden;margin-top: 20px;padding-left: 400px;}
/*地址管理*/

.pt .titleList {padding-left: 0;position: relative;}
.pt32 .picTxt {padding-left: 42px;margin: 0;}
.pt32 .txt.two {position: relative;top: -5px;}
.pt32 .txt.two .count {color: #9fa3af;font-size: 12px;margin-top: 2px;}
.pt ul {padding: 0 0 15px 15px;}
.pt li {margin-top: 20px;position: relative;zoom: 1;}
.titleList.topic {padding-bottom: 0;}
.titleList li {border-bottom: 1px solid #ebeef5;margin-top: 0;padding: 15px 0 7px 20px;position: relative;}
.titleList li h2 {margin-bottom: 7px;}
.titleList.topic .picTxt {padding-left: 0;}
.titleList .i_redEdit {position: absolute;top: 50%;right: 45px;margin-top: -8px;}
.titleList .i_delete {position: absolute;top: 50%;right: 20px;margin-top: -8px;}




/*店铺*/
.title-triangle-blue {border-bottom: 1px solid #00b2fc;padding: 0 0 10px 20px;font-weight: bold;position: relative;}
.txt-blue-XL {color: #00a1e4 !important;}
.title-triangle-blue .tip {position: absolute;bottom: -7px;left: 38px;}
.title-triangle-blue .tip em, .title-triangle-blue .tip span {display: block;width: 30px;height: 16px;font-size: 18px;overflow: hidden;font-family: Arial;}
.title-triangle-blue .tip em {margin-top: -13px;color: #00b2fc;font-style: normal;}
.title-triangle-blue .tip span {margin-top: -14px;color: white;}
.list-top20-left20 li {float: left;margin: 20px 0 0 20px;}
.box-gray.current, .box-gray:hover {border: 2px solid #6dc413;margin: -2px 0 0 -2px;background: url(../images/bg_box_gray.png) right bottom no-repeat;position: relative;top: 1px;left: 1px;}
.box-gray {height: 110px;padding: 20px 20px 0 100px;border: 1px solid #d9d9d9;position: relative;border-radius: 5px;zoom: 1;}
.box-grayXL {height: 115px;padding: 15px 20px 0 100px;}
.box-gray .bg-side {width: 60px;text-align: center;position: absolute;top: 20px;left: 20px;}
.box-grayXL .bg-side {top: 18px;}
.box-gray .bg-side .avatar60 {margin-bottom: 8px;}
.avatar60 {position: relative;display: inline-block;vertical-align: middle;zoom: 1;width: 60px;height: 60px;}
.avatar60 .avatarBg {display: block;position: absolute;width: 60px;height: 60px;background: url(../images/avatar60_white.png) no-repeat;}
.i_yellowIdentify22 {width: 22px;height: 21px;background: url(../images/icon3.1.png) -30px -22px no-repeat;}
.avatar60 .i_yellowIdentify22 {position: absolute;right: 0;bottom: -4px;}
.txt-blue-XXL {color: #0075bf !important;}
.box-gray .bg-mainXXL {width: 185px;}
.margin-top-10 {margin-top: 10px !important;}
.margin-top-5 {margin-top: 5px !important;}
.txt-font-12 {font-size: 12px;}
.txt-orange {color: #ff5538 !important;}
.margin-horizontal-5 {margin-left: 5px !important;margin-right: 5px !important;}
.txt-font-12 {font-size: 12px;}
.btn-white-bluebd {width: 62px;text-align: center;height: 20px;line-height: 20px;color: #00a1e4;border: 1px solid #00b2fc;font-size: 12px;}
.btn-white-bluebd i {vertical-align: inherit;margin-right: 3px;}
.i-correct-blue {width: 12px;height: 9px;background: url(../images/icon3.1.png) -30px -226px no-repeat;}
.btn-blueXXL {padding: 0 17px;height: 30px;line-height: 30px;background-color: #45c8ff;color: #fff;border: 1px solid #00b2fc;}
.box-gray .btn-blueXXL {width: 62px;padding: 0;text-align: center;height: 20px;line-height: 20px;font-size: 12px;}
.btn-white-bluebd em {font-style: normal;display: none;}
.collection span {vertical-align: middle;margin-left: 5px;}


/*分页*/
.commonPage {height: 35px;line-height: 35px;margin: 20px 0 15px 0;text-align: center;}
.commonPage a {display: inline-block;zoom: 1;vertical-align: middle;padding: 0 10px;height: 32px;line-height: 32px;margin-right: 5px;color: #00a1e4;background-color: #f8f9fd;border-radius: 5px;}
.commonPage a:hover, .commonPage a.current {background-color: #00b2fc;color: #fff;text-decoration: none;}
.i-arrow-blue-left {width: 7px;height: 13px;background: url(../images/icon3.1.png) -55px -505px no-repeat;}
.i-arrow-blue-right {width: 7px;height: 13px;background: url(../images/icon3.1.png) -55px -551px no-repeat;}

 .leftInput {padding: 10px 15px;width: 220px;font-size: 14px;line-height: 1.5;margin:5px 0;}
