/*头部*/
.headerTop{height:40px;
background: rgb(162,181,66); /* Old browsers */
background: -moz-linear-gradient(top, rgba(162,181,66,1) 0%, rgba(154,185,7,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(162,181,66,1)), color-stop(99%,rgba(154,185,7,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(162,181,66,1) 0%,rgba(154,185,7,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(162,181,66,1) 0%,rgba(154,185,7,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(162,181,66,1) 0%,rgba(154,185,7,1) 99%); /* IE10+ */
background: linear-gradient(to bottom, rgba(162,181,66,1) 0%,rgba(154,185,7,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2b542', endColorstr='#9ab907',GradientType=0 ); /* IE6-9 */
color:#fff; position:relative; width:100%; z-index:20;}
.headerTop .topL{float:left;}
.headerTop .topL .logo{float:left; margin-right:35px;}
.headerTop .topL .logo img{display:block; vertical-align:inherit;}
.headerTop .topL nav{float:left;}
.headerTop .topL nav li{float:left; position:relative; margin-top:3px;}
.headerTop .topL nav li a, .headerTop .topL nav li span{display:block;margin:0 10px; text-align:center; height:36px; line-height:36px; color:#fff;}
/* .headerTop .topL nav li.current a, .headerTop .topL nav li a:hover{background-color:#007acb;} */
.headerTop .topR{float:right;}
.headerTop .topR .tMsg{display:inline-block; *display:inline; zoom:1; margin-right:10px; position:relative;}
.headerTop .topR .tMsg .i_car{display:inline-block;position:relative; *display:inline; zoom:1; font-size:0; line-height:0; overflow:hidden; vertical-align:middle;width:24px;height: 24px; background:url(../images/cc.png) no-repeat;}
.headerTop .topR .tMsg .msgNum{display:block; width:24px; text-align:center; height:24px; line-height:24px; color:#fff; font-size:12px; position:absolute; top:-12px; right:-12px; background-color:red; z-index:10;}
.headerTop .topR .tMsgBox{width:353px; position:absolute; top:32px; right:0; border:1px solid #d9d9d9; padding-top:4px; *padding-top:4px; background-color:#fff;display:none;}
.headerTop .topR .tMsgList{padding-top:10px;}
.headerTop .topR .tMsgList li{padding-left:15px; line-height:33px;}
.headerTop .topR .tMsgList li.even{background-color:#f8f9fd;}
.headerTop .topR .tMsgList li a{color:#0aafc4;}
.headerTop .topR .tMsgList li a:hover{color:#ff5538;}
.headerTop .topR .tMsgFt{height:33px; line-height:33px; text-align:right; padding-right:15px; background-color:#f8f9fd;}
.headerTop .topR .tMsgFt a{color:#4b4b4b;}
.headerTop .topR .tInfo, .headerTop .topR .tLogin{display:inline-block; *display:inline; zoom:1; position:relative;height:40px;}
.headerTop .topR .tLogin a{color:#fff; position:relative;display:inline-block;height:40px;text-align: center;line-height: 36px;padding:0 15px;}
.headerTop .topR .tLogin a:nth-child(2):hover{background-color: #86A200;}
.logo_mid{
	position: relative;
	z-index: 12;
	float: left;
	width: 362px;
	height: 50px;
}
.search_div {
	min-height: 34px;
	float:left;
	border: 1px solid #cecece;
	margin-top:20px;
	border-radius: 4px;
	background-color:#EFEFEF;
	width: auto;
	display: inline-block !important;
	position: relative;
}

.search_button {
	display:inline-block;
	position:relative;
	width: 34px;
	height: 34px;
	margin:1px 1px 1px 0;
	background: rgb(162,181,66); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(162,181,66,1) 0%, rgba(134,162,0,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(162,181,66,1)), color-stop(99%,rgba(134,162,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(162,181,66,1) 0%,rgba(134,162,0,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(162,181,66,1) 0%,rgba(134,162,0,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(162,181,66,1) 0%,rgba(134,162,0,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(162,181,66,1) 0%,rgba(134,162,0,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2b542', endColorstr='#86a200',GradientType=0 ); /* IE6-9 */
	border: 1px solid #EFEFEF;
	-webkit-appearance: none;
	cursor: pointer;
	border-radius: 3px;
}

.search_button img{
	margin: 7px;
}

.search_input {
	padding-left: 5px;
	background: transparent;
	border: 0;
	outline: 0;
	height:34px;
	font-size:15px;
	background-color: #EFEFEF;
	-webkit-appearance: none;
	width: 400px;
	color:#ACACAC;
}
.cart{
	min-height: 38px;
	float:left;
	border: 1px solid #cecece;
	margin-top:20px;
	margin-left:50px;
	border-radius: 4px;
	background-color:#EFEFEF;
	height:34px;
	width:60px;
	display: inline-block !important;
	position: relative;
}
.cart img{
	margin: 5px;
}
.ci-count{
	position: absolute;
	top: -8px;
	left: 54px;
	display: inline-block;
	padding: 1px 2px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	border: 1px solid #D0443B;
	background-color: #E8645A;
	border-radius: 7px 7px 7px 7px;
	min-width: 12px;
	text-align: center;
}
